[Desktop Entry]
Name=LegendDB
Comment=LegendDB
GenericName=LegendDB
Exec=/usr/bin/legend_db_server %U
Icon=/usr/share/icons/apps/legend_db_logo.png
Type=Application
StartupNotify=true
Categories=Office;WordProcessor;
MimeType=text/markdown;text/x-markdown;